* {
  margin: 0;
  padding: 0;
}

a{
 text-decoration: none;
 color: black;
 text-decoration-color: none;
}

/* Стили для самого верхнего навигационного блока (хеадера) */

.header{
  display: block;
  position: absolute;
  width: 100%;
  padding-top: 20px;  
  justify-content: space-between;
  justify-items: center;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.logo{
  display: block;
  margin-left: calc(15%);
  padding-right: calc(111px+5%);
  width: 150px;
}

.header__container{
  display: block;
  margin-left: 30%;
  margin-top: -30px;
}

.header__item{
  display: inline-block;
  justify-items: center;
  padding-left: 50px;
  padding-right: 5px; 
}

.item-img{
	position: relative;
	color: #00a650;
	cursor: pointer;
	line-height: 1; 
	text-decoration: none; 

}

.item-img:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px;
	background-color: #00a650; 
	content: "";
	transition: width 0.3s ease-out;
}

.item-img:hover:after,
.item-img:focus:after {
	width: 100%; 
}


.header__icons {
  height: 300px;
  display: block;
  margin-left: 10px;
  width: 170px;
  height: 30px;
  margin-left: 77%;
  margin-top: -22px;
}

.header__item-2 {
  display: inline-block;
  flex-wrap: nowrap;
  padding-right: 30px;
}

/* Стили для левой половины, где располагается навигационное меню */

.left-block{
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin-top: 145px;
}

.main {
  display: block;
  margin-top: 5px;
}

.main .container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
  display: block;
  margin-left: 50%;
}

.filter {
	width: 190px;
}

.filter-title {
	margin-bottom: 20px;
	color: #2B2B2B;
	font-size: 14px;
	font-weight: 300;
}

.filter-block {
	margin-bottom: 35px;
}

.filter-block:last-child {
	margin-bottom: 0;
}

.filter-name {
	color: #2B2B2B;
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: 600;
}

.filter-check {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  white-space: nowrap;
}

.filter-check:last-child {
	margin-bottom: 0;
}

.filter-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 16px;
	height: 16px;
  word-wrap: nowrap;
}

.filter-checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	font-size: 16px;
	color: #2B2B2B;
}

.filter-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #2B2B2B;
	border-radius: 2px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.filter-checkbox:not(:disabled):not(:checked)+label:hover::before {
	border-color: #2B2B2B;
}

.filter-checkbox:not(:disabled):active+label::before {
	background-color: #2B2B2B;
	border-color: #2B2B2B;
}

.filter-checkbox:focus+label::before {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.filter-checkbox:focus:not(:checked)+label::before {
	border-color: #2B2B2B;
}

.filter-checkbox:checked+label::before {
	border-color: #2B2B2B;
	background-color: #2B2B2B;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.filter-checkbox:disabled+label::before {
	background-color: #2B2B2B;
}

.filter-checkbox.filter-color+label::before {
	border-radius: 50%;
	border-color: #D8D8D8;
}

.filter-checkbox.filter-color:checked+label::before {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='black' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.filter-checkbox.filter-color.filter-white:checked+label::before,
.filter-checkbox.filter-color.filter-white+label::before {
	background-color: #fff;
}

.filter-checkbox.filter-color.filter-pink:checked+label::before,
.filter-checkbox.filter-color.filter-pink+label::before {
	background-color: #ECBBAF;
}

.filter-checkbox.filter-color.filter-silver:checked+label::before,
.filter-checkbox.filter-color.filter-silver+label::before {
	background-color: #CCD6E6;
}

.filter-checkbox.filter-color.filter-yellow:checked+label::before,
.filter-checkbox.filter-color.filter-yellow+label::before {
	background-color: #FDBD4E;
}

.filter-checkbox.filter-color.filter-white-second:checked+label::before,
.filter-checkbox.filter-color.filter-white-second+label::before {
	background-color: #EAEEF4;
}

.filter-count {
	font-size: 16px;
	color: #494949;
	margin-left: 5px;
}

/* Правый блок со всем содержимым */

.right-block{
  display: inline-block;
  width: 65%;
}

.content-main{
  max-width: 100%;
}

.content__block-1{
  max-width: 1920px;
  padding-left: 50px;
}

.content__links {
  position: absolute;
  width: 309px;
  height: 15px;
  margin-top: 150px;
  max-height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flink {
	position: relative;
	color: #00a650; 
	cursor: pointer;
	line-height: 1; 
	text-decoration: none;
}

.flink:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #00a650;
	content: "";
	transition: width 0.3s ease-out;
}

.flink:hover:after,
.flink:focus:after {
	width: 100%; 
}

.content{
  border: 2px solid;
  background-color: #000;
  height: 300px;
  vertical-align: top;
}

.content1{
  border: 2px solid;
  background-color: #00a650;
  height: 500px;
}

/* Стили для заголовка "Постельное белье, логотипа кровати, последующего текста" */

.content__heading-logo{
  position: absolute;
  display: block;
  margin-left: 56%;
  margin-top:190px;
}

.content__heading {
  display: block;
  position: absolute;
  width: 355px;
  height: 48px;
  margin-top: 180px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.03em;
  color: #2b2b2b;
}

.content__subtext {
  position: absolute;
  width: 58.3%;
  height: 78px;
  
  top: 232px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #2b2b2b;
}

/* Стили для трех кнопок и надписи о количестве товаров над картинками  */

.content__buttons {
  display: block;
  padding-top: 270px;
  padding-left: 0%;
}

.content__button-1 {
  width: 137px;
  height: 28px;
  top: 320px;
  text-align: center;
  flex: 0 0 12%;
  display: inline-block;
  padding-left: -10px;

  flex-wrap: nowrap;
  margin-top: 35px;
  margin-right: -5px;

  font-size: 12px;
  font-weight: 400;
  line-height: 26px;

  border: 1px solid #000000;
  padding: 5px;
  padding-top: 1px;
  border-radius: 3px;
  padding-bottom: 1px;
}

.content__button-1:hover{
  color: white;
  background-color: rgb(0, 0, 0);
}
.content__button-2:hover{
  color: white;
  background-color: rgb(0, 0, 0);
}
.content__button-3:hover{
  color: white;
  background-color: rgb(0, 0, 0);
}
.content__button-4:hover{
  color: white;
  background-color: rgb(0, 0, 0);
}
.content__button-5:hover{
  color: white;
  background-color: rgb(0, 0, 0);
}
.content__button-6:hover{
  color: white;
  background-color: rgb(0, 0, 0);
}
.content__button-2 {
  width: 96px;
  height: 28px;
  left: 657px;
  top: 320px;
  border: 1px solid #000000;
  padding: 10px;
  padding-top: 0;
  text-align: center;
  flex: 0 0 12%;
  display: inline-block;

  flex-wrap: nowrap;
  margin: 0 10px;
  margin-top: 35px;
  margin-right: -5px;

  font-size: 12px;
  font-weight: 400;
  line-height: 26px;

  border: 1px solid #000000;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
  text-align: center;
}
.content__button-3 {
  width: 73px;
  height: 28px;
  left: 510px;
  top: 320px;
  border: 1px solid #000000;
  padding-top: 0;
  text-align: center;
  flex: 0 0 12%;
  display: inline-block;

  flex-wrap: nowrap;
  flex: 1 1 auto;
  margin: 0 10px;
  margin-top: 35px;

  font-size: 12px;
  font-weight: 400;
  line-height: 26px;

  border: 1px solid #000000;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;

  color: #000;
  border-radius: 3px;
  outline: none;
  box-shadow: none;
}

.content__goodsNumber{
  text-align: center;
  display: inline-block;
  padding-top: 20px;
  margin-left: 84.5%;
  max-width: 120px;
  max-height: 30px;
  margin-top: -45px;
}

/* Стили для изображений и управления анимацией при наведении курсора мыши */

.container-1{
  max-width: 1330px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
}

.catalog-image-container {
  position: relative;
  width: 367px;
  height: 367px; 
  margin-bottom: 10px;
  transition: 0.3s;
}

.catalog-item:hover .catalog-image-container {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.catalog-image.active {
  opacity: 1;
}

.catalog-image-control {
  position: absolute;
  bottom: 5px;
  left: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 5px);
  z-index: 5;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.catalog-image-hover {
  width: 100%;
  margin: 0 3px;
  height: 100%;
  position: relative;
}

.catalog-image-hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.catalog-image-hover:hover:before {
  background: #FDBD4E;
}

.catalog-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-image-container {
  position: relative;
  width: 367px;
  height: 367px; 
  margin-bottom: 10px;
  transition: 0.3s;
}

.catalog-item:hover .catalog-image-container {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.catalog-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.3s;
}

.catalog-image.active {
  opacity: 1;
}

.catalog-image-control {
  position: absolute;
  bottom: 5px;
  left: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 5px);
  z-index: 5;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.catalog-image-hover {
  width: 100%;
  margin: 0 3px;
  height: 100%;
  position: relative;
}

.catalog-image-hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.catalog-image-hover:hover:before {
  background: #FDBD4E;
}

.catalog-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-name {
	position: relative;
	color: #000; 
	cursor: pointer;
	line-height: 1; 
	text-decoration: none; 
}

.catalog-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 8px;
}

.catalog-item{
  display: inline-block;
  max-width: 376px;
  max-height: 376px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.catalog-name:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #00a650; 
	content: "";
	transition: width 0.3s ease-out;
}

.catalog-name:hover:after,
.catalog-name:focus:after {
	width: 100%;
}

.catalog-name:hover{
  color: #00a650;
}

/*  Кнопки после изображений  */

.content__buttons2 {
  display: inline-flexbox;
  padding-top: 50px;
  margin-left: -5px;
}

.content__button-4 {
  width: 34px;
  height: 34px;
  left: 510px;
  top: 320px;
  text-align: center;
  flex: 0 0 12%;
  display: inline-block;
  flex-wrap: nowrap;
  margin: 0 10px;
  margin-top: 25px;
  margin-right: -5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  border: 1px solid #000000;
  padding: 5px;
  padding-top: 6px;
  padding-bottom: 1px;
}

.content__button-5 {
  width: 100px;
  height: 34px;
  left: 510px;
  top: 320px;
  text-align: center;
  flex: 0 0 12%;
  display: inline-block;

  flex-wrap: nowrap;
  margin: 0 10px;
  margin-top: 25px;
  margin-right: -5px;

  font-size: 12px;
  font-weight: 400;
  line-height: 26px;

  border: 1px solid #000000;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 1px;
}

.content__button-6 {
  width: 100px;
  height: 34px;
  left: 500px;
  padding-right: 5px;
  top: 320px;
  text-align: center;
  flex: 0 0 10%;
  display: inline-block;

  flex-wrap: nowrap;
  margin: 0 10px;
  margin-top: 25px;
  margin-left: 325px;

  font-size: 12px;
  font-weight: 400;
  line-height: 26px;

  border: 1px solid #000000;
  padding: 5px;
  padding-top: 6px;
  padding-bottom: 1px;
}

/* Стили для блока текста, находящегося ниже кнопок */

.text__block{
  margin-top:50px;
}

.text__block-container{
  display: block;
  width: 1096;
  height: 200px;    
}

.text__block-heading{
  position: absolute;
  width: 250px;
  height: 29px;
  margin-left: 50px;
  margin-top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #2B2B2B;
}

.text__block-paragraph{
  position: absolute;
  width: 58.581%;
  height: 78px;
  margin-top: 50px;
  margin-bottom: 170px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-left: 2.75%;
  letter-spacing: -0.03em;
  color: #2B2B2B;
}

/* Нижняя часть, содержащая логотип и вспомогательные ссылки */

.social__links{
  margin-bottom: 50px;
  margin-left: 15%;
}

li{
  list-style-type: none;
}
.footer{
  max-width: 100%;
  padding-left: 5.5%;
}

.social__links-block{
  display: inline-block;
  margin-left: 80px;
}

hr{
  height: 1px;
  background: #000;
  margin-left: 15%;
  margin-right: 5.5%;
  margin-bottom: 50px;
}

.footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 90px;
  width: calc(100% - 180px);
  height: 1px;
  background: #2B2B2B;
}

.social__links-logo{
  display: inline-block;
  margin-right: 150px;
}

.social__links-container{
  display: inline-block;
  margin-right: 50px;
  vertical-align: middle;
}

.social__links-heading {
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.social__links-link {
  color: #2B2B2B;
  font-size: 16px;
  font-weight: 400;
}
.social__links-adress {
  color: #2B2B2B;
  font-size: 13px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 5px;
}
.social__links-phone {
  color: #2B2B2B;
  font-size: 26px;
  font-weight: 400;
}

/* Стили для самого нижнего блок информации, содержащего авторские права, иконки соц сетей, место расположения офиса компании */

.footer__info{
  max-width: 100%;
  height: 50px;
}

.footer__info-line{
  border-top: 2px dashed #000;  
  width: 80%;
  height: 0px;
  margin-left: 15%;
  margin-top: -15px;
  margin-bottom: 15px;
}

.footer__info-leftPart{
  display: inline-block;
  width: 30%;
  height: 200px;
  margin-right: 15px;
  padding-left: 15%;
}

.footer__info-centerPart{
  display: inline-block;
  width: 30%;
  height: 50px;
}

.footer__info-leftIcon{
  display: inline-block;
  vertical-align: baseline;
  margin-left: 24%;
  margin-right: 15px;
}

.footer__info-middleIcon{
  display: inline-block;
  vertical-align: baseline;
}

.footer__info-rightIcon{
  display: inline-block;
  vertical-align: baseline;
  margin-right: 30%;
  margin-left: 15px;
}

.footer__info-rightPart{
  display: inline-block;
  width: 30%;
  height: 50px;
  margin-left: -11%;
  margin-right: 2.5%;
  text-align: end;
}





























